[Unit] # metadata about the service
Description="{{serviceName}}"
After=network-online.target
Wants=network-online.target

[Service] # execution logic
User={{userId}}
Group={{groupId}}
Restart=always
RestartSec=2
StartLimitIntervalSec=0  # service will restarted indefinitely
Type=simple
ExecStart={{ exec_command }}

[Install]
WantedBy=multi-user.target  # if the service is enabled, it will start at server boot
